*{
    box-sizing: border-box;
}

/* .gallery{
    background-color: orangered;
    width: 100%;
    max-width: 350px;
    height: 300px;

} */

.gallery img{

    width: 100%;
    max-width: 350px;
    height: 300px;
}