*{
    box-sizing: border-box;
}

/* .gallery{
    background-color: orangered;
    width: 100%;
    max-width: 350px;
    height: 300px;

} */

body{
    margin: 0;
    font-family: sans-serif;
    background-color: #f5f6f7;
}

.header{
    text-align: center;
    text-transform: uppercase;
    padding: 32px;
    background-color: rgb(228,202,168);
    color: #000040;
    border-bottom: 4px solid #fdb347;
}

.gallery img{

    width: 100%;
    max-width: 350px;
    height: 300px;
}