*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: sans-serif;
    background-color: #f5f6f7;
}

.header{
    text-align: center; 
    text-transform: uppercase;
    padding: 32px;
    background-color: rgb(228,202,168);
    color: #000040;
    border-bottom: 4px solid #fdb347;
}

.gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
    max-width: 1400px;
    margin: 0 auto;
    gap: 16px;


}

.gallery img{
    width: 100%;
    max-width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    border:solid 2px #fdb347;
}

.gallery::after{
    color: #000040;
    text-align: center;
    content: "Element Test";
    width: 350px;
    height: 300px;
    border-radius: 10px;
    border: solid 1px #fdb347;
}